
header #navbarSupportedContent li > a {
    color: #243a5e;
    text-shadow: 2px 2px 9px rgba(255, 255, 255, 0.22);
    padding: 10px 13px;
    display: inline-block;
    top: 3px;
    position: relative;
    height: 43px;
    border: 1px solid transparent;
     font-family: 'MTNBrighterSans-Regular',sans-serif;
    cursor: pointer;
    font-size: 11px;
}
header #navbarSupportedContent li.nav-item.active {
    background-color: #243a5e;
    border-radius: 7px;
}
header #navbarSupportedContent li.nav-item.active a {
    color: #fff;
}
header #navbarSupportedContent li.nav-item.active span {
    display: none;
}

header #navbarSupportedContent li {
    padding-left: 5px;
    padding-right: 5px;
}

header #navbarSupportedContent li:hover a {
    color: #243a5e;
}

header #navbarSupportedContent li:hover span.decor-link-menu {
    transform: scale(1);
}


