
body{
    background-color: #243a5e ;
}
.divider-form {
    position: relative;
    text-align: center;
    border-top: 1px solid #cbd2d6;
    position: relative;
    text-align: center;
}

.text-divider {
    background-color: #fff;
    padding: 0 .5em;
    position: relative;
    color: #6c7378;
    top: -.7em;
}

.btn-app {
    background-color: #243a5e;
    color: #fff;
}

.btn-register {
    background-color: #E1E7EB;
    color: #2C2E2F;
}

.logo-login {
    width: 100px;
    height: 100%;
    background-size: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.card {
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.card-header {
    background-image: url(../images/bg-section.png);
    background: linear-gradient(45deg, #464646, #243a5e);
    border: 0px;
}

.form-control,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-color: transparent;
}

input,
input:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-color: transparent;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
